* {
    /*
    font-family: Arial, Helvetica, sans-serif; 
    CSS 'reset'. this overwrite other selectors. 
    not advised.
    */
}

html {
    font-size: 18px;
}

body{
    background-color: darkslategrey;
    color: aliceblue;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    font-family: 'Courier New', Courier, monospace;
}


.section1{
    color: rgb(211, 190, 231);
}

#section2{
    color: blanchedalmond;
}

h1, h2 {
    color: rgb(165, 136, 98, 0.5); 
    /* 
    rgb = red, green, blue and transparency 
    hexcode = '#' + 6 value from 0 to 9 and a to f
    hsl = rgb but different representation
    in vscode you can click the color square to open a box to change the color, you can also switch from hex to rgb and vice versa by clikcing the color 'title' in that box
    */
}
p {
    color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    color: rgb(180, 235, 245);
}
p span {
    text-transform: uppercase;
    background-color: gold;
}
a {
    color: darkgrey;
}

.paragraph-in-section2 {
    color: cornflowerblue;
}

section, header {
    border: 1px solid;
    border-color: aliceblue;
    padding: 1rem;
}

hr {
    color: aliceblue;
}